<div class="container">
    <div class="grid">
        <div class="col-4">
            <h1>Information</h1>
            <ul>
                <li>AI</li>
                <li>Privacy and Policy</li>
                <li>About us</li>
               
            </ul>
        </div>
        <div class="col-4">
            <h1>Contact us</h1>
            <ul>
                <li>ai@contact.com</li>
                <li>+212 689-652792</li>
            </ul>
        </div>
        <div class="col-4">
            <h1>Newsletter</h1>
            <div class="newsletter">
                <input type="text" placeholder="exemple@gmail.com">
                <button class="btn-submit">subscribe</button>
            </div>
           
        </div>
        <div class="col-12">
            <div class="right">
                <p>all rights reserved-AI</p>
            </div>
        </div>
    </div>
</div>