<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="card">
                   <div class="side">
                    <div class="media">
                        <img src="assets/images/red.jpeg" alt="">
                    </div>
                   </div>
                    <div class="about">
                        <span>Mr. El azzouzi Ridouan</span>
                        <p class="profession">Master Degre MBD</p>
                        <p class="details">I am a Big Data Engineer , Master degre in technical university of Tangier,Mobiquity and Big Data.</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="card">
                   <div class="side">
                    <div class="media">
                        <img src="assets/images/logo.png" alt="">
                    </div>
                   </div>
                    <div class="about">
                        <span>Mr. Soufian Aloui Idrissi</span>
                        <p class="profession">Master Degre SIM</p>
                        <p class="details">I am a System and Mobile Engineer , Master degre in technical university of Tangier, System Informatic and Mobile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>